{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}confirmation.code.enter{% endtrans %}</h1>
    {% if remainingAttemptMessage is defined %}
      {{ remainingAttemptMessage }}
    {% endif %}

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">{% trans %}submit{% endtrans %}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
