{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}volunteer.max.try{% endtrans %}</h1>
    {% if message is defined %}
      <h2>{{ message }}: {{ datetime }} ({{ timezone }})</h2>
    {% endif %}
{% endblock %}
