<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% trans %}admin{% endtrans %}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">{% trans %}admin{% endtrans %}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                 {% if app.user %}
                     <li><a href="{{ path('fos_user_security_logout') }}">{% trans %}logout{% endtrans %}</a></li>
                 {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% set currentRouteName = app.request.get('_route') %}
            {% set currentPath = app.request.pathinfo %}

            <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                <li role="presentation" {% if currentRouteName == 'admin.volunteer.list' or currentPath ends with 'admin' %}class="active"{% endif %}>
                    <a href="{{ path('admin.volunteer.list') }}">{% trans %}volunteers{% endtrans %}</a>
                </li>
                <li role="presentation" {% if currentRouteName == 'admin.contact.list' %}class="active"{% endif %}>
                    <a href="{{ path('admin.contact.list') }}">{% trans %}contacts{% endtrans %}</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
