{% extends 'admin/base.html.twig' %}

{% block body %}
    {{ form_start(search_form, {'attr': {'class': 'form-inline'}}) }}
        {{ form_widget(search_form) }}<button type="submit" class="btn btn-default">{% trans %}search{% endtrans %}</button>

        {% for message in app.flashes('info') %}
            <div class="alert alert-info" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {{ form_end(search_form) }}

    <table class="table">
        <thead>
        <tr class="active">
            <th>{{ knp_pagination_sortable(volunteers, 'email.address' |trans, 'v.email') }}</th>
            <th>{{ knp_pagination_sortable(volunteers, 'phone' |trans, 'v.phone') }}</th>
            <th>{{ knp_pagination_sortable(volunteers, 'name.or.nick' |trans, 'v.name') }}</th>
            <th>{% trans %}comment{% endtrans %}</th>
            <th>{% trans %}ip.address{% endtrans %}</th>
            <th>{{ knp_pagination_sortable(volunteers, 'created.at' |trans, 'v.createdAt') }}</th>
            <th>{{ knp_pagination_sortable(volunteers, 'activated' |trans, 'v.activated') }}</th>
        </tr>
        </thead>

        <tbody>
        {% for vol in volunteers %}
            <tr>
                <td><a href="{{ path('admin.volunteer.show', {id: vol.id}) }}">{{ vol.email }}</a></td>
                <td>{{ vol.phone }}</td>
                <td>{{ vol.name }}</td>
                <td>{{ vol.comment }}</td>
                <td>{{ vol.ip }}</td>
                <td>{{ vol.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>
                    {% if vol.activated %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <td class="text-nowrap">
                    <ul class="list-inline">
                        <li>
                            <form method="post" action="{{ path('admin.volunteer.sendcreds', {id: vol.id}) }}" onsubmit="return confirm('{% trans %}volunteer.sendcreds.confirmation{% endtrans %}');">
                                <input type="hidden" name="_method" value="POST">
                                <input type="hidden" name="_token" value="{{ csrf_token('sendcreds' ~ vol.id) }}">
                                <button class="btn">{% trans %}send.creds{% endtrans %}</button>
                            </form>
                        </li>
                        <li>
                            <form method="post" action="{{ path('admin.volunteer.delete', {id: vol.id}) }}" onsubmit="return confirm('{% trans %}volunteer.delete.confirmation{% endtrans %}');">
                                <input type="hidden" name="_method" value="POST">
                                <input type="hidden" name="_token" value="{{ csrf_token('vdelete' ~ vol.id) }}">
                                <button class="btn btn-danger">{% trans %}delete{% endtrans %}</button>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(volunteers) }}
    </div>
{% endblock %}
