{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>{% trans %}volunteer{% endtrans %}</h1>

    <div class="media" style="margin-top: 60px;">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading"><strong>{{ vol.name }}</strong></h3>
                </div>

                <div class="col-sm-2">
                    <i class="pull-right">{% trans %}created.at{% endtrans %} {{ vol.createdat|date('d/m/Y H:i:s') }}</i>
                </div>
            </div>

            <p>
                <strong>{{ vol.email }}</strong>
                <strong>{{ vol.phone }}</strong>
            </p>

            <p>{{ vol.comment|nl2br }}</p>
        </div>
    </div>
{% endblock %}
