<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% trans %}translation.mutual.help{% endtrans %}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <div>
                            <a href="{{ path('admin.volunteer.list') }}" class="btn btn-default navbar-btn">{% trans %}admin.panel{% endtrans %}</a>
                        </div>
                    </li>
                {% endif %}

                {% if app.user %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
