{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>{% trans %}contact.new{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">{% trans %}submit{% endtrans %}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
