{% extends 'admin/base.html.twig' %}

{% block body %}
    <ul class="list-inline">
        <li>
            <form method="post" action="{{ path('admin.contact.create') }}">
                <input type="hidden" name="_method" value="POST">
                <input type="hidden" name="_token" value="{{ csrf_token('ccreate') }}">
                <button class="btn">{% trans %}add{% endtrans %}</button>
                {# btn-danger #}
            </form>
        </li>
    </ul>

    <table class="table">
        <thead>
        <tr class="active">
            <th>{{ knp_pagination_sortable(contacts, 'email.address' |trans, 'v.email') }}</th>
            <th>{{ knp_pagination_sortable(contacts, 'created.at' |trans, 'v.createdAt') }}</th>
        </tr>
        </thead>

        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('admin.contact.show', {id: contact.id}) }}">{{ contact.email }}</a></td>
                <td>{{ contact.createdAt|date('Y-m-d H:i:s') }}</td>
                <td class="text-nowrap">
                    <ul class="list-inline">
                        <li>
                            {% if contact.activated %}
                                <form method="post" action="{{ path('admin.contact.disactivate', {id: contact.id}) }}" >
                                    <input type="hidden" name="_method" value="POST">
                                    <input type="hidden" name="_token" value="{{ csrf_token('cdisactivate' ~ contact.id) }}">
                                    <button class="btn">{% trans %}disactivate{% endtrans %}</button>
                                </form>
                            {% else %}
                                <form method="post" action="{{ path('admin.contact.activate', {id: contact.id}) }}" >
                                    <input type="hidden" name="_method" value="POST">
                                    <input type="hidden" name="_token" value="{{ csrf_token('cactivate' ~ contact.id) }}">
                                    <button class="btn">{% trans %}activate{% endtrans %}</button>
                                </form>
                            {% endif %}
                        </li>
                        <li>
                            <form method="post" action="{{ path('admin.contact.delete', {id: contact.id}) }}" onsubmit="return confirm('{% trans %}contact.delete.confirmation{% endtrans %}');">
                                <input type="hidden" name="_method" value="POST">
                                <input type="hidden" name="_token" value="{{ csrf_token('cdelete' ~ contact.id) }}">
                                <button class="btn btn-danger">{% trans %}delete{% endtrans %}</button>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(contacts) }}
    </div>
{% endblock %}
