{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>Contact</h1>

    <div class="media" style="margin-top: 60px;">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-2">
                    <i class="pull-right">{% trans %}created.at{% endtrans %} {{ contact.createdat|date('d/m/Y H:i:s') }}</i>
                </div>
            </div>

            <p>
                <strong>{{ contact.email }}</strong>
            </p>
        </div>
    </div>
{% endblock %}
